<launch>

<rosparam file="$(find teleop_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="teleop" args="right motor_position_controller left motor_position_controller Slider8_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/teleop/joint_states"/>
</node>

</launch>